body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

td,
th,
tr {
    vertical-align: middle;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    opacity: 1;
}

input[type="number"] {
    -moz-appearance: textfield;
}
li:hover {
    background-color: rgb(22, 173, 211);
}

.cursor:hover {
    cursor: pointer;
}
.product-grid-container {
    width: 53% !important;
}

.country-select__input-group input {
    box-shadow: unset !important;
}
.form-control,
.form-select,
.form-check-input,
.dropdown-toggle {
    box-shadow: unset !important;
}

.width-83vw {
    width: 83vw;
}

.width-98vw {
    width: 98vw;
}

.margin-0 {
    margin-left: 0;
    transition: "margin-left 1s cubic-bezier(.47,.45,.46,.45);";
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.margin-18rem {
    margin-left: 18rem;
    transition: "margin-left 1s cubic-bezier(.47,.45,.46,.45);";
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

table tbody tr {
    cursor: pointer;
}
/* table tbody tr td {
    padding: 20px 0  !important;
} */

.title-head:hover {
    color: orange;
    cursor: pointer;
}
.cursor {
    cursor: pointer;
}
.topbar-landingpage4 {
    margin-left: 10rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
}
.topbar-landingpage3 {
    margin-left: 10rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.pagination-list{
    display: flex;
    justify-content: flex-end;
}